/*
Author: Kyle Deason
Date:   June 10, 2020
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16pt;
    width: 85%;
    margin: auto;
    background-color: indianred;
}

header h1 {
    font-size: 36pt;
    
    margin-top: 35px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 0px;

    background-color: salmon;
}

header h3 {
    font-size: 24pt;
    margin: 0px;

    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 0px;

    background-color: salmon;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
    color: royalblue;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: orange;
}

p {
    margin: 15px;
    padding: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: skyblue;
}

table {
    border: none;
    border-spacing: 2px 2px 5px 5px;
    width: 90%;
    margin-left: 30px;
}

nav {
    background-color: salmon;
    color: midnightblue;
    text-align: left;
    float: left;
    width: 25%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 995px;
}

nav li {
    padding-left: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
}

section {
    background-color: gainsboro;
    width: 75%;
    float: right;
}

section h1 {
    background-color: mediumorchid;
    padding-bottom: 10px;
}

table {
    padding-top: 10px;
}

thead th {
    background-color: steelblue;
    font-weight: bold;
}

tbody td {
    text-align: left;
}

footer {
    background-color: salmon;
    margin-top: 995px;
    text-align: center;
}